<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hello this is a home page</h1>
    <hr/>
    <button ><a class="link" href="/api/change-password">Change Password</a></button>
    <button><a href="/api/verify-email">Verify Email</a></button>
    <form action="/api/logout" method="post" id="logout">
        <button type="submit">Logout</button>
    </form>
    <% if ((success_msg && success_msg.length > 0)) { %>
        <div class="error-container">
          <p class="flash-error"><%= success_msg %></p>
        </div>
        <% } %>
    
</body>
</html>